<p>
  prueba works!
</p>
<div class="container" >
    <h3>{{title}}</h3>
    <div class="row">
      <div class="col-xs-3">Nombre del titular</div>
      <input>
    </div>
    <div class="row">
      <div class="col-xs-3">Tipo de Documento</div>
      <input>
    </div>
    <div class="row">
      <div class="col-xs-3">Numero Documento</div>
      <input>
    </div>
    <div class="row">
      <div class="col-xs-3">Numero de Tarjeta de credito</div>
      <input>
    </div>
    <div class="row">
      <div class="col-xs-3">Franquicia de la tarjeta de credito</div>
      <input>
    </div>
    <div class="row">
      <div class="col-xs-3">Fecha de vencimiento</div>
      <div class="col-xs-6"><input id="fchVInicio"></div>
      <div class="col-xs-6"><input id="fchVFin"></div>
    </div>
    <div class="row">
      <div class="col-xs-3">Codigo de verificación</div>
      <div class="col-xs-9"><input id="fchVFin"></div>
    </div>
    <div class="row">
      <div class="col-xs-3">Correo electronico</div>
      <input>
    </div>
</div>
