<!--div class="container" >
    <h3>{{title}}</h3>
    <div class="row">
      <div class="col-xs-3">Nombre del titular</div>
      <input>
    </div>
    <div class="row">
      <div class="col-xs-3">Tipo de Documento</div>
      <input>
    </div>
    <div class="row">
      <div class="col-xs-3">Numero Documento</div>
      <input>
    </div>
    <div class="row">
      <div class="col-xs-3">Numero de Tarjeta de credito</div>
      <input>
    </div>
    <div class="row">
      <div class="col-xs-3">Franquicia de la tarjeta de credito</div>
      <input>
    </div>
    <div class="row">
      <div class="col-xs-3">Fecha de vencimiento</div>
      <div class="col-xs-6"><input id="fchVInicio"></div>
      <div class="col-xs-6"><input id="fchVFin"></div>
    </div>
    <div class="row">
      <div class="col-xs-3">Codigo de verificación</div>
      <div class="col-xs-9"><input id="fchVFin"></div>
    </div>
    <div class="row">
      <div class="col-xs-3">Correo electronico</div>
      <input>
    </div>
</div-->
<div class="container">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre del titular</label>
    <input type="email" class="form-control" id="nombreTitular" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Tipo de Documento</label>
    <select class="form-control" id="inputGroupSelect01">
    <option selected>--seleccione</option>
    <option value="1">Pasaporte</option>
    <option value="2">Cedula ciudadania</option>
  </select>
  </div>
  <div class="form-group form-check">
    <label for="exampleInputEmail1">Numero Documento</label>
    <input type="email" class="form-control"  aria-describedby="emailHelp">
  </div>
  <div class="form-group form-check">
    <label for="exampleInputEmail1">Numero de Tarjeta de credito</label>
    <input type="email" class="form-control"  aria-describedby="emailHelp">
  </div>
  <div class="form-group form-check">
    <label for="exampleInputEmail1">Franquicia de la tarjeta de credito</label>
    <input type="email" class="form-control"  aria-describedby="emailHelp">
  </div>
  <div class="form-group form-check">
    <label for="exampleInputEmail1">Fecha de vencimiento</label>
    <input type="email" class="form-control"  aria-describedby="emailHelp">
  </div>
  <div class="form-group form-check">
    <label for="exampleInputEmail1">Codigo de verificación</label>
    <input type="email" class="form-control"  aria-describedby="emailHelp">
  </div>
  <div class="form-group form-check">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control"  aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary" (click)="guardar()" id="GuardadoBoton">Submit</button>
</form>
</div>

